body {

font-family: 'open sans', sans-serif;

}







.container {

width: 940px;
margin: 0 auto;



}

.flex-container {

    display: flex;
    justify-content: space-between;

    
    }

    .flex-container--meio {

align-items: center;


    }

.header{


    position: relative;
}



.header__sacola {
display : inline-block;
background-image: url(../img/sacola.png);
background-repeat: no-repeat;
background-position: right;
text-align: right;
padding-right: 35px;
font-size: 14px;
background-size: contain;
position: absolute;
top: 0;
right: 0;

}

.nav__link-list li{

    color: #036;
    display: inline-block;
    margin-left: 5px;


}

/* main*/

.header__nav {

position: absolute;
right: 0;
bottom: 0;
}

.busca {

padding: 8px;
width: 230px;
box-sizing: border-box;
background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);  /* mudar cor do botao: https://webgradients.com/*/
border-radius: 5px 5px 0 0 ;
/*para alterar o raio da borda, deixar ela arredondada por exemplo*/




}
.busca__campo {


border-radius: 7px 7px 0 0;
border: none;
padding: 2px 5px;
width: 88%;
margin-right: 5px;

}

.busca__botao {

background-image: url(../img/busca.png);
background-color: unset;
border: none;
background-repeat: no-repeat;
width: 16px;
height: 16px;
background-size: contain;
vertical-align: middle;
cursor: pointer;
}

.departamentos {

    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);  /* mudar cor do botao: https://webgradients.com/*/
margin-top: 8px;
width: 230px;
padding: 2px;
box-sizing: border-box;


}

.nav__produtos a {

text-decoration: none;
color: 333;

}

.departamentos__titulo {

font-weight: bold;
margin-bottom: 10px;
}

.nav__produtos li{

margin: 5px 0;


}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/   para flexbox */


/*https://fonts.google.com/*/ 

.painel {

width: 48%;
padding: 8px 5px 14px;
box-sizing: border-box;
box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
}

.painel--novidades{


    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.painel--mais-vendidos{


    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.painel__produtos {

flex-wrap: wrap;


}

.painel__produtos figure{

width: 140px;

}

.painel__produtos img {

width: 100%;

}
.painel__titulo {

    font-weight: bold;
    font-size: 25px;
    
}

.painel__titulo::before {
content: '';
width: 16px;
height: 16px;
display: inline-block;
border-radius: 50%;
background-color: black
}
.footer {

background-image: url(../img/fundo-rodape.png);
margin-top: 8px;
padding: 10px;
}

.footer_redes-sociais a{

width: 32px;
height: 32px;
display: inline-block;
text-indent: -9999px;
margin: 2px 2px;
}

.footer_redes-sociais a[href*="facebook.com"] {

background-image: url(../img/facebook.png);


}

.footer_redes-sociais a[href*="twitter.com"] {

background-image: url(../img/twitter.png);


}

.footer_redes-sociais a[href*='orkut'] {

    background-image: url(../img/googleplus.png);
}